receivers:
  otlp:
    protocols:
      grpc:
      http:

exporters:
  logging:
    logLevel: info
  jaeger:
    endpoint: "http://jaeger:14268/api/traces"
  otlp:
    endpoint: "jaeger:4317"

processors:
  batch:

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [logging, jaeger]
